/*
----------------
Font Download
----------------
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto&display=swap');

/*
----------------
UI Kit Presets
----------------
*/

$font: 'Noto Sans TC', 'Roboto';

/*
----------------
Main Color Set
----------------
*/

$example001: #222;
$example002: #333;