/*
----------------
Font Download
----------------
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto&display=swap');

/*
----------------
UI Kit Presets
----------------
*/

$font: 'Noto Sans TC', 'Roboto';

/*
----------------
Main Color Set
----------------
*/

$white: #fff;
$bg: #FFF5EB;
$deep-bg: #F6EDE3;
$blue: #88B6F3;
$deep-blue: #4074b8;
$pink: #F3888B;
$deep-pink: #DC5458;
$green: #ABCD05;
$gray: #707070;